flows/UNITY_WO_TRADE-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignmentTradeWO</name>
        <label>AssignmentTradeWO</label>
        <locationX>517</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>WOobj.UNITY_Trade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SkillObj.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WOTradeFastUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SkillExistsNew</name>
        <label>SkillExists</label>
        <locationX>291</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>SkillExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillObj</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentTradeWO</targetReference>
            </connector>
            <label>SkillExists</label>
        </rules>
    </decisions>
    <description>Updates Trade based on WO Picklists</description>
    <interviewLabel>UNITY_WO_TRADEv3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UNITY_WO_TRADEv3</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SkillFastLookup</name>
        <label>SkillFastLookup</label>
        <locationX>300</locationX>
        <locationY>175</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SkillExistsNew</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOobj.UNITY_Skill_Type__c</elementReference>
            </value>
        </filters>
        <object>FSO__Skill__c</object>
        <outputReference>SkillObj</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WOFastLookup</name>
        <label>WOFastLookup</label>
        <locationX>303</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SkillFastLookup</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOid</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WOobj</outputReference>
        <queriedFields>UNITY_Skill_Type__c</queriedFields>
        <queriedFields>UNITY_Trade__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>WOTradeFastUpdate</name>
        <label>WOTradeFastUpdate</label>
        <locationX>362</locationX>
        <locationY>402</locationY>
        <inputReference>WOobj</inputReference>
    </recordUpdates>
    <startElementReference>WOFastLookup</startElementReference>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>50018000003IjKQAA0</stringValue>
        </value>
    </variables>
    <variables>
        <name>Caseobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseSkillType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkillName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CaseSkillType</elementReference>
        </value>
    </variables>
    <variables>
        <name>SkillObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FSO__Skill__c</objectType>
    </variables>
    <variables>
        <name>WOid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a6A1800000000YjEAI</stringValue>
        </value>
    </variables>
    <variables>
        <name>WOobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
