flows/UNITY_Send_PO_Action-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>UNITY_Send_Purchase_Order_MNS_Disney</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A2</name>
        <label>Send PO MSN/MSP - Disney</label>
        <locationX>1000</locationX>
        <locationY>300</locationY>
        <actionName>WorkOrder.UNITY_Send_Purchase_Order_MNS_Disney</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_10_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>UNITY_Send_Purchase_Order_MNS_TJX</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A2</name>
        <label>Send PO MNS/MSP - TJX</label>
        <locationX>1300</locationX>
        <locationY>300</locationY>
        <actionName>WorkOrder.UNITY_Send_Purchase_Order_MNS_TJX</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_13_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>UNITY_Send_Purchase_Order_Craft</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A2</name>
        <label>Send PO - Craft</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <actionName>WorkOrder.UNITY_Send_Purchase_Order_Craft</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>UNITY_Send_Purchase_Order_NSBS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A2</name>
        <label>Send PO - NSBS</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <actionName>WorkOrder.UNITY_Send_Purchase_Order_NSBS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_4_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>UNITY_Send_Purchase_Order_MNS</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A2</name>
        <label>Send PO MNS/MSP</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>WorkOrder.UNITY_Send_Purchase_Order_MNS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>BU = Craft &amp; Default Service Report</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_pmetdec</targetReference>
            </connector>
            <label>BU = MNS &amp; Account = TJX</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_pmetdec</targetReference>
            </connector>
            <label>BU = NSBS &amp; Default Service Report</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>BU = MNS/MSP &amp; Default Service Report</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision9</name>
        <label>myDecision9</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_pmetdec</targetReference>
            </connector>
            <label>BU = MNS &amp; Account = Disney</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_10_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1000</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_10_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_10_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_10_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_13_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_13_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_13_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_4_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_4_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_4_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Send email alert to vendor when Send PO is selected on the Action field in a Work Order</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_10_A1_8732783514</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_3648611003</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_2173763558</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_7305059575</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>Now()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_2702955667</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
  AND(
    NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
    [WorkOrder].RecordType.Name == &apos;Service Request&apos;
  ),
  [WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
ISPICKVAL ([WorkOrder].UNITY_Business_Unit__c, &apos;Craft&apos;),
OR(
  [WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;--Default--&apos;,
  IsBlank([WorkOrder].UNITY_Customer_Specific_Signature_forms__c)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_current.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_current.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_current.UNITY_Current_PO__c})),
OR(
  AND(
    NOT(ISBLANK({!myVariable_current.UNITY_Vendor_PO_Sent_Date__c})),
    {!myVariable_current.RecordType.Name} == &apos;Service Request&apos;
  ),
  {!myVariable_current.RecordType.Name} == &apos;Non-Work&apos;
),
ISPICKVAL ({!myVariable_current.UNITY_Business_Unit__c}, &apos;Craft&apos;),
OR(
  {!myVariable_current.UNITY_Customer_Specific_Signature_forms__c} == &apos;--Default--&apos;,
  IsBlank({!myVariable_current.UNITY_Customer_Specific_Signature_forms__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
AND(
NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
[WorkOrder].RecordType.Name == &apos;Service Request&apos;
),
[WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
OR(
ISPICKVAL([WorkOrder].UNITY_Business_Unit__c,&apos;MNS&apos;),
CONTAINS([WorkOrder].UNITY_Business_Unit_Formula__c ,&apos;MSP&apos;)
),
[WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;Disney&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_current.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_current.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_current.UNITY_Current_PO__c})),
OR(
AND(
NOT(ISBLANK({!myVariable_current.UNITY_Vendor_PO_Sent_Date__c})),
{!myVariable_current.RecordType.Name} == &apos;Service Request&apos;
),
{!myVariable_current.RecordType.Name} == &apos;Non-Work&apos;
),
OR(
ISPICKVAL({!myVariable_current.UNITY_Business_Unit__c},&apos;MNS&apos;),
CONTAINS({!myVariable_current.UNITY_Business_Unit_Formula__c} ,&apos;MSP&apos;)
),
{!myVariable_current.UNITY_Customer_Specific_Signature_forms__c} == &apos;Disney&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
AND(
NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
[WorkOrder].RecordType.Name == &apos;Service Request&apos;
),
[WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
OR(
ISPICKVAL([WorkOrder].UNITY_Business_Unit__c,&apos;MNS&apos;),
CONTAINS([WorkOrder].UNITY_Business_Unit_Formula__c ,&apos;MSP&apos;)
),
[WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;Disney&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_old.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_old.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_old.UNITY_Current_PO__c})),
OR(
AND(
NOT(ISBLANK({!myVariable_old.UNITY_Vendor_PO_Sent_Date__c})),
{!myVariable_old.RecordType.Name} == &apos;Service Request&apos;
),
{!myVariable_old.RecordType.Name} == &apos;Non-Work&apos;
),
OR(
ISPICKVAL({!myVariable_old.UNITY_Business_Unit__c},&apos;MNS&apos;),
CONTAINS({!myVariable_old.UNITY_Business_Unit_Formula__c} ,&apos;MSP&apos;)
),
{!myVariable_old.UNITY_Customer_Specific_Signature_forms__c} == &apos;Disney&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
AND(
NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
[WorkOrder].RecordType.Name == &apos;Service Request&apos;
),
[WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
OR(
ISPICKVAL([WorkOrder].UNITY_Business_Unit__c,&apos;MNS&apos;),
CONTAINS([WorkOrder].UNITY_Business_Unit_Formula__c ,&apos;MSP&apos;)
),
[WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;TJ Maxx&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_current.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_current.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_current.UNITY_Current_PO__c})),
OR(
AND(
NOT(ISBLANK({!myVariable_current.UNITY_Vendor_PO_Sent_Date__c})),
{!myVariable_current.RecordType.Name} == &apos;Service Request&apos;
),
{!myVariable_current.RecordType.Name} == &apos;Non-Work&apos;
),
OR(
ISPICKVAL({!myVariable_current.UNITY_Business_Unit__c},&apos;MNS&apos;),
CONTAINS({!myVariable_current.UNITY_Business_Unit_Formula__c} ,&apos;MSP&apos;)
),
{!myVariable_current.UNITY_Customer_Specific_Signature_forms__c} == &apos;TJ Maxx&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
AND(
NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
[WorkOrder].RecordType.Name == &apos;Service Request&apos;
),
[WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
OR(
ISPICKVAL([WorkOrder].UNITY_Business_Unit__c,&apos;MNS&apos;),
CONTAINS([WorkOrder].UNITY_Business_Unit_Formula__c ,&apos;MSP&apos;)
),
[WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;TJ Maxx&apos;
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_old.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_old.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_old.UNITY_Current_PO__c})),
OR(
AND(
NOT(ISBLANK({!myVariable_old.UNITY_Vendor_PO_Sent_Date__c})),
{!myVariable_old.RecordType.Name} == &apos;Service Request&apos;
),
{!myVariable_old.RecordType.Name} == &apos;Non-Work&apos;
),
OR(
ISPICKVAL({!myVariable_old.UNITY_Business_Unit__c},&apos;MNS&apos;),
CONTAINS({!myVariable_old.UNITY_Business_Unit_Formula__c} ,&apos;MSP&apos;)
),
{!myVariable_old.UNITY_Customer_Specific_Signature_forms__c} == &apos;TJ Maxx&apos;
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
  AND(
    NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
    [WorkOrder].RecordType.Name == &apos;Service Request&apos;
  ),
  [WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
ISPICKVAL ([WorkOrder].UNITY_Business_Unit__c, &apos;Craft&apos;),
OR(
  [WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;--Default--&apos;,
  IsBlank([WorkOrder].UNITY_Customer_Specific_Signature_forms__c)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_old.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_old.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_old.UNITY_Current_PO__c})),
OR(
  AND(
    NOT(ISBLANK({!myVariable_old.UNITY_Vendor_PO_Sent_Date__c})),
    {!myVariable_old.RecordType.Name} == &apos;Service Request&apos;
  ),
  {!myVariable_old.RecordType.Name} == &apos;Non-Work&apos;
),
ISPICKVAL ({!myVariable_old.UNITY_Business_Unit__c}, &apos;Craft&apos;),
OR(
  {!myVariable_old.UNITY_Customer_Specific_Signature_forms__c} == &apos;--Default--&apos;,
  IsBlank({!myVariable_old.UNITY_Customer_Specific_Signature_forms__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
  AND(
    NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
    [WorkOrder].RecordType.Name == &apos;Service Request&apos;
  ),
  [WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
ISPICKVAL ([WorkOrder].UNITY_Business_Unit__c, &apos;NSBS&apos;),
OR(
  [WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;--Default--&apos;,
  IsBlank([WorkOrder].UNITY_Customer_Specific_Signature_forms__c)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_current.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_current.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_current.UNITY_Current_PO__c})),
OR(
  AND(
    NOT(ISBLANK({!myVariable_current.UNITY_Vendor_PO_Sent_Date__c})),
    {!myVariable_current.RecordType.Name} == &apos;Service Request&apos;
  ),
  {!myVariable_current.RecordType.Name} == &apos;Non-Work&apos;
),
ISPICKVAL ({!myVariable_current.UNITY_Business_Unit__c}, &apos;NSBS&apos;),
OR(
  {!myVariable_current.UNITY_Customer_Specific_Signature_forms__c} == &apos;--Default--&apos;,
  IsBlank({!myVariable_current.UNITY_Customer_Specific_Signature_forms__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
  AND(
    NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
    [WorkOrder].RecordType.Name == &apos;Service Request&apos;
  ),
  [WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
ISPICKVAL ([WorkOrder].UNITY_Business_Unit__c, &apos;NSBS&apos;),
OR(
  [WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;--Default--&apos;,
  IsBlank([WorkOrder].UNITY_Customer_Specific_Signature_forms__c)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_old.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_old.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_old.UNITY_Current_PO__c})),
OR(
  AND(
    NOT(ISBLANK({!myVariable_old.UNITY_Vendor_PO_Sent_Date__c})),
    {!myVariable_old.RecordType.Name} == &apos;Service Request&apos;
  ),
  {!myVariable_old.RecordType.Name} == &apos;Non-Work&apos;
),
ISPICKVAL ({!myVariable_old.UNITY_Business_Unit__c}, &apos;NSBS&apos;),
OR(
  {!myVariable_old.UNITY_Customer_Specific_Signature_forms__c} == &apos;--Default--&apos;,
  IsBlank({!myVariable_old.UNITY_Customer_Specific_Signature_forms__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
AND(
NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
[WorkOrder].RecordType.Name == &apos;Service Request&apos;
),
[WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
OR(
ISPICKVAL([WorkOrder].UNITY_Business_Unit__c,&apos;MNS&apos;),
CONTAINS([WorkOrder].UNITY_Business_Unit_Formula__c ,&apos;MSP&apos;)
),
OR(
[WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;--Default--&apos;,
IsBlank([WorkOrder].UNITY_Customer_Specific_Signature_forms__c)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_current.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_current.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_current.UNITY_Current_PO__c})),
OR(
AND(
NOT(ISBLANK({!myVariable_current.UNITY_Vendor_PO_Sent_Date__c})),
{!myVariable_current.RecordType.Name} == &apos;Service Request&apos;
),
{!myVariable_current.RecordType.Name} == &apos;Non-Work&apos;
),
OR(
ISPICKVAL({!myVariable_current.UNITY_Business_Unit__c},&apos;MNS&apos;),
CONTAINS({!myVariable_current.UNITY_Business_Unit_Formula__c} ,&apos;MSP&apos;)
),
OR(
{!myVariable_current.UNITY_Customer_Specific_Signature_forms__c} == &apos;--Default--&apos;,
IsBlank({!myVariable_current.UNITY_Customer_Specific_Signature_forms__c})
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT([WorkOrder].RecordType.Name == &quot;Preventative Maintenance&quot;),
ISPICKVAL([WorkOrder].UNITY_Action__c, &quot;Send PO&quot;),
NOT(ISBLANK([WorkOrder].UNITY_Current_PO__c)),
OR(
AND(
NOT(ISBLANK([WorkOrder].UNITY_Vendor_PO_Sent_Date__c)),
[WorkOrder].RecordType.Name == &apos;Service Request&apos;
),
[WorkOrder].RecordType.Name == &apos;Non-Work&apos;
),
OR(
ISPICKVAL([WorkOrder].UNITY_Business_Unit__c,&apos;MNS&apos;),
CONTAINS([WorkOrder].UNITY_Business_Unit_Formula__c ,&apos;MSP&apos;)
),
OR(
[WorkOrder].UNITY_Customer_Specific_Signature_forms__c == &apos;--Default--&apos;,
IsBlank([WorkOrder].UNITY_Customer_Specific_Signature_forms__c)
)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!myVariable_old.RecordType.Name} == &quot;Preventative Maintenance&quot;),
ISPICKVAL({!myVariable_old.UNITY_Action__c}, &quot;Send PO&quot;),
NOT(ISBLANK({!myVariable_old.UNITY_Current_PO__c})),
OR(
AND(
NOT(ISBLANK({!myVariable_old.UNITY_Vendor_PO_Sent_Date__c})),
{!myVariable_old.RecordType.Name} == &apos;Service Request&apos;
),
{!myVariable_old.RecordType.Name} == &apos;Non-Work&apos;
),
OR(
ISPICKVAL({!myVariable_old.UNITY_Business_Unit__c},&apos;MNS&apos;),
CONTAINS({!myVariable_old.UNITY_Business_Unit_Formula__c} ,&apos;MSP&apos;)
),
OR(
{!myVariable_old.UNITY_Customer_Specific_Signature_forms__c} == &apos;--Default--&apos;,
IsBlank({!myVariable_old.UNITY_Customer_Specific_Signature_forms__c})
)
)</expression>
    </formulas>
    <interviewLabel>UNITY_Send_PO_Action-2_InterviewLabel</interviewLabel>
    <label>UNITY Send PO Action</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>WorkOrder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Set Vendor PO Sent Date on WO</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_10_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor PO Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_PO_Sent_Date__c</field>
            <value>
                <elementReference>formula_11_myRule_10_A1_8732783514</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A3</name>
        <label>Reset Action Field</label>
        <locationX>1000</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Action</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Action__c</field>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Set Vendor PO Sent Date on WO</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor PO Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_PO_Sent_Date__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_3648611003</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A3</name>
        <label>Reset Action Field</label>
        <locationX>1300</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Action</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Action__c</field>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Vendor PO Sent Date on WO</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor PO Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_PO_Sent_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2173763558</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A3</name>
        <label>Reset Action Field</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Action</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Action__c</field>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Set Vendor PO Sent Date on WO</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_4_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor PO Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_PO_Sent_Date__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_7305059575</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A3</name>
        <label>Reset Action Field</label>
        <locationX>400</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Action</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Action__c</field>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Set Vendor PO Sent Date on WO</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor PO Sent Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_PO_Sent_Date__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_2702955667</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A3</name>
        <label>Reset Action Field</label>
        <locationX>700</locationX>
        <locationY>400</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Action</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Action__c</field>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
