flows/UNITY_Populate_BU_on_Case_from_Email-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>750</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>NSBS</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Craft</label>
        </rules>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>MNS</label>
        </rules>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>MSP Houston</label>
        </rules>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>MSP San Antonio</label>
        </rules>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>MSP El Paso</label>
        </rules>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>MSP Orlando</label>
        </rules>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>MSP Tampa</label>
        </rules>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>MSP Dallas</label>
        </rules>
        <rules>
            <name>myRule_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_10</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_10_A1</targetReference>
            </connector>
            <label>MSP Atlanta</label>
        </rules>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>MSP Memphis</label>
        </rules>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>MSP Nashville</label>
        </rules>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>MSP New Orleans</label>
        </rules>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>MSP Miami</label>
        </rules>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>MSP Jacksonville</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || 
[Case].RecordType.Name = &quot;Site Survey&quot; || 
[Case].RecordType.Name = &quot;Project Management&quot; || 
[Case].RecordType.Name = &quot;Preventative Maintenance&quot; || 
[Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
(ISPICKVAL([Case].Origin , &quot;Email-NSBS&quot;)||ISPICKVAL([Case].Origin , &quot;Email-NSBS-Apple&quot;)||ISPICKVAL([Case].Origin , &quot;Email-NSBS-LBrands&quot;)||ISPICKVAL([Case].Origin , &quot;Email-NSBS-Ross&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || 
{!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || 
{!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || 
{!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || 
{!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
(ISPICKVAL({!myVariable_current.Origin} , &quot;Email-NSBS&quot;)||ISPICKVAL({!myVariable_current.Origin} , &quot;Email-NSBS-Apple&quot;)||ISPICKVAL({!myVariable_current.Origin} , &quot;Email-NSBS-LBrands&quot;)||ISPICKVAL({!myVariable_current.Origin} , &quot;Email-NSBS-Ross&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Atlanta&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_10</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Atlanta&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Memphis&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Memphis&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Nashville&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Nashville&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP New Orleans&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP New Orleans&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Miami&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Miami&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Jacksonville&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Jacksonville&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-Craft&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-Craft&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
(ISPICKVAL([Case].Origin , &quot;Email-MNS&quot;)||ISPICKVAL([Case].Origin , &quot;Email-MNS-HomeDepot&quot;)||ISPICKVAL([Case].Origin , &quot;Email-MNS-Walmart&quot;))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
(ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MNS&quot;)||ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MNS-HomeDepot&quot;)||ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MNS-Walmart&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Houston&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Houston&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP San Antonio&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP San Antonio&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP El Paso&quot;)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP El Paso&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Orlando&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Orlando&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Tampa&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Tampa&quot;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([Case].RecordType.Name = &quot;Service Request&quot; || [Case].RecordType.Name = &quot;Site Survey&quot; || [Case].RecordType.Name = &quot;Project Management&quot; || [Case].RecordType.Name = &quot;Preventative Maintenance&quot; || [Case].RecordType.Name = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL([Case].Origin , &quot;Email-MSP Dallas&quot;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot; ) &amp;&amp;
ISPICKVAL({!myVariable_current.Origin} , &quot;Email-MSP Dallas&quot;)</expression>
    </formulas>
    <interviewLabel>UNITY_Populate_BU_on_Case_from_Email-2_Case</interviewLabel>
    <label>UNITY Populate BU on Case from Email</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_10_A1</name>
        <label>Populate BU</label>
        <locationX>1000</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Atlanta</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Populate BU</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Memphis</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Populate BU</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Nashville</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Populate BU</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP New Orleans</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Populate BU</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Miami</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Populate BU</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Jacksonville</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Populate BU</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>NSBS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Populate BU</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>Craft</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Populate BU</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MNS</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Populate BU</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Houston</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Populate BU</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP San Antonio</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Populate BU</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP El Paso</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Populate BU</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Orlando</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>Populate BU</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Tampa</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Populate BU</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Business Unit</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Business_Unit__c</field>
            <value>
                <stringValue>MSP Dallas</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
