flows/UNITY_Redispatch_Work_Order-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>myDecision</name>
        <label>Primary Decision</label>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Auto Dispatch</label>
        </rules>
        <rules>
            <name>myRule_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_pmetdec</targetReference>
            </connector>
            <label>Auto Re-Dispatch</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_2_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_2_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_2_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_2_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_2_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_2_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Set Vendor Status to Dispatching</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([WorkOrder].RecordType.Name = &quot;Service Request&quot; || [WorkOrder].RecordType.Name = &quot;Site Survey&quot; || [WorkOrder].RecordType.Name = &quot;Project Management&quot; || [WorkOrder].RecordType.Name = &quot;Preventative Maintenance&quot; || [WorkOrder].RecordType.Name = &quot;Non-Work&quot;) &amp;&amp; ([WorkOrder].UNITY_Auto_Dispatch__c) &amp;&amp; ISBLANK(TEXT([WorkOrder].UNITY_Vendor_Status__c))  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot;) &amp;&amp; ({!myVariable_current.UNITY_Auto_Dispatch__c}) &amp;&amp; ISBLANK(TEXT({!myVariable_current.UNITY_Vendor_Status__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([WorkOrder].RecordType.Name = &quot;Service Request&quot; || [WorkOrder].RecordType.Name = &quot;Site Survey&quot; || [WorkOrder].RecordType.Name = &quot;Project Management&quot; || [WorkOrder].RecordType.Name = &quot;Preventative Maintenance&quot; || [WorkOrder].RecordType.Name = &quot;Non-Work&quot;) &amp;&amp; ([WorkOrder].UNITY_Auto_Dispatch__c) &amp;&amp; ISBLANK(TEXT([WorkOrder].UNITY_Vendor_Status__c))  </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_old.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_old.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_old.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_old.RecordType.Name} = &quot;Non-Work&quot;) &amp;&amp; ({!myVariable_old.UNITY_Auto_Dispatch__c}) &amp;&amp; ISBLANK(TEXT({!myVariable_old.UNITY_Vendor_Status__c}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([WorkOrder].RecordType.Name = &quot;Service Request&quot; || [WorkOrder].RecordType.Name = &quot;Site Survey&quot; || [WorkOrder].RecordType.Name = &quot;Project Management&quot; || [WorkOrder].RecordType.Name = &quot;Preventative Maintenance&quot; || [WorkOrder].RecordType.Name = &quot;Non-Work&quot;) &amp;&amp; BEGINS(TEXT([WorkOrder].UNITY_Vendor_Status__c), &apos;Reject&apos;) &amp;&amp; [WorkOrder].UNITY_Auto_Dispatch__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_current.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_current.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_current.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_current.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_current.RecordType.Name} = &quot;Non-Work&quot;) &amp;&amp; BEGINS(TEXT({!myVariable_current.UNITY_Vendor_Status__c}), &apos;Reject&apos;) &amp;&amp; {!myVariable_current.UNITY_Auto_Dispatch__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>([WorkOrder].RecordType.Name = &quot;Service Request&quot; || [WorkOrder].RecordType.Name = &quot;Site Survey&quot; || [WorkOrder].RecordType.Name = &quot;Project Management&quot; || [WorkOrder].RecordType.Name = &quot;Preventative Maintenance&quot; || [WorkOrder].RecordType.Name = &quot;Non-Work&quot;) &amp;&amp; BEGINS(TEXT([WorkOrder].UNITY_Vendor_Status__c), &apos;Reject&apos;) &amp;&amp; [WorkOrder].UNITY_Auto_Dispatch__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_2_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>({!myVariable_old.RecordType.Name} = &quot;Service Request&quot; || {!myVariable_old.RecordType.Name} = &quot;Site Survey&quot; || {!myVariable_old.RecordType.Name} = &quot;Project Management&quot; || {!myVariable_old.RecordType.Name} = &quot;Preventative Maintenance&quot; || {!myVariable_old.RecordType.Name} = &quot;Non-Work&quot;) &amp;&amp; BEGINS(TEXT({!myVariable_old.UNITY_Vendor_Status__c}), &apos;Reject&apos;) &amp;&amp; {!myVariable_old.UNITY_Auto_Dispatch__c}</expression>
    </formulas>
    <interviewLabel>UNITY_Redispatch_Work_Order-6_WorkOrder</interviewLabel>
    <label>UNITY Redispatch Work Order</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>WorkOrder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Set Vendor Status</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_Status__c</field>
            <value>
                <stringValue>Dispatching</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_2_A1</name>
        <label>Reset Vendor Status</label>
        <locationX>200</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Vendor Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>UNITY_Vendor_Status__c</field>
            <value>
                <stringValue>Dispatching</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
